.dart_tool/
.DS_Store
.gradle/
**/.idea/workspace.xml
.idea/libraries/Dart_*.xml
.packages
.pub/
.vscode/
.sandbox/
artifacts/
build/
flutter-gui-tests/.gradle/
flutter-gui-tests/guitest.log
flutter-intellij.jar
flutter-intellij.zip
lib/*.jar
lib/jxbrowser/*
!lib/jxbrowser/jxbrowser-7.10.jar
!lib/jxbrowser/jxbrowser-swing-7.10.jar
material-design-icons/
out/
packages
pubspec.lock
releases/
resources/jxbrowser/jxbrowser.properties
.idea/encodings.xml
**/.idea/gradle.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
**/.idea/modules/
.idea/libraries/Gradle_*.xml
**/.idea/modules.xml
flutter-studio/build/
flutter-studio/.gradle/
flutter-idea/build/
flutter-idea/.gradle/
