.dart_tool/
.DS_Store
.gradle/
.idea/
.packages
.pub/
.sandbox/
.vscode/
artifacts/
build/
flutter-gui-tests/.gradle/
flutter-gui-tests/guitest.log
flutter-intellij.jar
flutter-intellij.zip
lib/*.jar
material-design-icons/
out/
packages
pubspec.lock
releases/
