out/
artifacts/
build/
releases/
flutter-intellij.jar
flutter-intellij.zip
packages
.DS_Store
.packages
pubspec.lock
.pub/
.dart_tool/
.idea/
.vscode/
material-design-icons/
flutter-gui-tests/guitest.log
flutter-gui-tests/.gradle/
.gradle/
.sandbox/
