language: java

jdk:
  - oraclejdk8

before_script:
  - git clone https://github.com/flutter/flutter.git --depth 1
  - export PATH="$PATH":flutter/bin
  - flutter config --no-analytics
  - flutter precache
  - export FLUTTER_SDK=`pwd`/flutter

# execution
script: ./tool/travis.sh

# disabled: https://github.com/flutter/flutter-intellij/issues/222
## caching
#before_cache:
#  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
#cache:
#  directories:
#    - $HOME/.gradle/caches/
#    - $HOME/.gradle/wrapper/
