language: java

jdk:
  - oraclejdk8

install: true

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
  - git clone https://github.com/flutter/flutter.git --depth 1
  - export PATH="$PATH":flutter/bin:flutter/bin/cache/dart-sdk/bin
  - flutter config --no-analytics
  - flutter doctor
  - export FLUTTER_SDK=`pwd`/flutter

# Testing product matrix - see gs://flutter_infra/flutter/intellij/.
# IDEA_PRODUCT can be one of ideaIC, WebStorm, or android-studio-ide.
env:
  # Android Studio 3.0 Beta 6
  - IDEA_PRODUCT=android-studio-ide IDEA_VERSION=171.4333198 DART_PLUGIN_VERSION=171.4424.10

  # IntelliJ CE internal version
  # TODO(devoncarew): Re-enable unit testing on the bots (UNIT_TEST=true).
  - IDEA_PRODUCT=ideaIC             IDEA_VERSION=2017.1.1    DART_PLUGIN_VERSION=171.4694.29

  # TODO(devoncarew): Re-enable unit testing on the bots (UNIT_TEST=true).
  # IntelliJ CE earliest supported version
  - IDEA_PRODUCT=ideaIC             IDEA_VERSION=2017.1.3    DART_PLUGIN_VERSION=171.4694.29

  # IntelliJ 2017.2
  - IDEA_PRODUCT=ideaIC             IDEA_VERSION=2017.2      DART_PLUGIN_VERSION=172.3317.48

  # IntelliJ 2017.3 EAP
  - IDEA_PRODUCT=ideaIC             IDEA_VERSION=173.3302.5  DART_PLUGIN_VERSION=173.3302.13

  # WebStorm supported range
  - IDEA_PRODUCT=WebStorm           IDEA_VERSION=2017.2

# execution
script: ./tool/travis.sh
