# Copyright 2020 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# Use separate workflow for Windows so it can be disabled if needed.
# https://docs.github.com/en/free-pro-team@latest/actions/managing-workflow-runs/disabling-and-enabling-a-workflow
name: windows
on: [push, pull_request, workflow_dispatch]
permissions:
contents: read
jobs:
  unit-tests:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@d171c3b028d844f2bf14e9fdec0c58114451e4bf
      - name: setup java
        uses: actions/setup-java@e54a62b3df9364d4b4c1c29c7225e57fe605d7dd
        with:
          java-version: '11'
          java-package: jdk
      - name: windows UNIT_TEST_BOT
        run: ./tool/github.bat
        shell: cmd
